name: Deploy to ECR

on:
  repository_dispatch:
    types: [on-demand]
  push:
    branches: [ "*" ]
    tags: [ "*" ]
  pull_request:
    branches: [ main ]
      # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Build Image
    #runs-on: self-hosted
    runs-on: ubuntu-latest
    # These permissions are needed to interact with GitHub's OIDC Token endpoint.
    permissions:
      id-token: write
      contents: read
    steps:
    - name: Check disk space
      run: df . -h
    - name: Free disk space
      run: |
          sudo docker rmi $(docker image ls -aq) >/dev/null 2>&1 || true
          sudo rm -rf \
            /usr/share/dotnet /usr/local/lib/android /opt/ghc \
            /usr/local/share/powershell /usr/share/swift /usr/local/.ghcup \
            /usr/lib/jvm || true
          echo "some directories deleted"
#          sudo apt install aptitude -y >/dev/null 2>&1
#          sudo aptitude purge aria2 ansible azure-cli shellcheck rpm xorriso zsync \
#            esl-erlang firefox gfortran-8 gfortran-9 google-chrome-stable \
#            google-cloud-sdk imagemagick \
#            libmagickcore-dev libmagickwand-dev libmagic-dev ant ant-optional kubectl \
#            mercurial apt-transport-https mono-complete libmysqlclient \
#            unixodbc-dev yarn chrpath libssl-dev libxft-dev \
#            libfreetype6 libfreetype6-dev libfontconfig1 libfontconfig1-dev \
#            snmp pollinate libpq-dev postgresql-client powershell ruby-full \
#            sphinxsearch subversion mongodb-org azure-cli microsoft-edge-stable \
#            -y -f >/dev/null 2>&1
#          sudo aptitude purge google-cloud-sdk -f -y >/dev/null 2>&1
#          sudo aptitude purge microsoft-edge-stable -f -y >/dev/null 2>&1 || true
#          sudo apt purge microsoft-edge-stable -f -y >/dev/null 2>&1 || true
#          sudo aptitude purge '~n ^mysql' -f -y >/dev/null 2>&1
#          sudo aptitude purge '~n ^php' -f -y >/dev/null 2>&1
#          sudo aptitude purge '~n ^dotnet' -f -y >/dev/null 2>&1
#          sudo apt-get autoremove -y >/dev/null 2>&1
#          sudo apt-get autoclean -y >/dev/null 2>&1
#          echo "some packages purged"
    - name: Check disk space
      run: df . -h

    - name: Check out code
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-region: ${{ secrets.AWS_REGION }}
        role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/github

#    - name: Login to Docker Hub
#      uses: docker/login-action@v1
#      with:
#        username: ${{ secrets.DOCKER_HUB_USERNAME }}
#        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build, tag, and push image to Amazon ECR
      env:
        REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        REPOSITORY: jhub-open-userimage
        IMAGE_TAG: ${{ github.sha }}
      run: |
        docker build -t $REGISTRY/$REPOSITORY:$IMAGE_TAG .
        docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG
